/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

	p {
		font-size: 1.25em;
		margin-bottom: 1.2em;
		color: #4a4a4a;
		font-weight: 300;
		padding-left: 1.3em;
		padding-right: 1.3em;
	}
	h3 {
		font-size:1.5em;
		font-weight: normal;
	}
	.container {
		width: 100%;
		max-width: 1150px;
		margin: 50px auto;
	}
	.two {
		/*margin: 0 auto;*/
	}
	.main-header {
		margin-bottom: 50px;
		padding-top: .5em;
		padding-bottom:.25em;
	}
	.main-nav li {
		margin-left: 12px;
	}

	.main-nav,
	.main-nav li {
		display: inline-block;
		background:none;
		text-align: center;
	}
	.name {
		text-align: center;
	}
	.primary {
		float: right;
	}
	.secondary {
		float: left;
		text-align: left;
	}
	.col {
		padding-left: 0;
		padding-right: 0;
	}
	.col-md-6 {
		/*display: inline-block;*/
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
		margin-bottom: 15px;
	}
	.img {
		width: 100%;
	}
	.three {
		margin-top: 30px;
		text-align: center;
		background: #fafafa;
	}
	.footer-name {
		float:left;
	}
	.footer-nav {
		float:right;
		list-style:none;
		text-transform: uppercase;
	}
	.main-footer {
		padding: 2em 2em;;
		background: #fafafa;
	}
	.lead {
		padding: 0 5em;
		margin-bottom: 2em;
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {
	p {
		font-size: 1.17em;
		margin-top: .5em;
		margin-bottom: 1.5em;
		color: #4a4a4a;
		font-weight: 300;
	}
	h3 {
		font-size: 1.2em;
		font-weight: normal;
		margin-bottom: 0;
	}
	.container {
		width: 90%;
		margin: 50px auto 30px;
	}
	.main-nav {
		float: right;
	}
	.main-nav li {
		float:left;
	}
	.name {
		float: left;
	}
	.col-lg-4 {
		display: inline-block;
		width: 33%;
		text-align: center;
	}
	.primary {
		float: right;
	}
	.secondary {
		float: left;
	}
	.lead {
		padding: 0 24em;
		margin-bottom: 2em;
	}
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
}
