.col {
	display:inline-block;
	padding-left: 1em;
	padding-right: 1em;
}
.col-sm-12 {
	width: 100%;
	margin-bottom: 50px;
}
.one {
	background: #fafafa;
}
.two {
	text-align: center;
}
.three {
	text-align: center;
}