.footer-name,
.footer-nav li {
	/*text-align: center;*/
	margin-top: 6px;
	margin-bottom: 6px;
	float: left;
}

.footer-name,
.footer-nav a {
	padding: 10px 10px;
	text-align: center;
	display: block;
}

.main-footer {
	padding: 2em 2em;;
	background: #fafafa;
}